.spec-container {
    // border: 1px solid blue;
    margin: 0 250px;
    margin-bottom: 33px;

    .title-slick {
        padding-left: 16px;
        font-size: 22px;
        font-weight: 600;
        margin: 16px 0;
        color: black;
    }

    .slick-list {
        height: 250px;
    }

    .slick-item {


        .img {

            width: 100%;
            height: 230px;
            padding: 16px;
            background-origin: content-box;


            img {
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }

        }

        small {
            padding-left: 25px;
            font-size: 16px;
            position: absolute;
            top: 98%;
            font-weight: 500;
            margin-bottom: 8px;
        }
    }
}