@import '../../../styles/responsive.scss';

.doctor-profile-page {



    .doctor-profile-container {
        position: relative;
        top: 58px;

        .top-section {
            padding: 16px 350px;
            border: 1px solid #ccc;

            @include Notdestop {
                padding: 16px 12%;
            }

            .header-infor {
                display: flex;

                @include Notdestop {
                    justify-content: space-between;
                }

                .avatar {
                    background-color: #fff;
                    padding: 16px;
                    width: 20%;

                    .box-img {
                        width: 175px;
                        height: 175px;


                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                            border: 1px solid black;
                            margin-top: 8px;
                        }
                    }
                }

                .infor {
                    display: flex;
                    flex-direction: column;
                    width: 80%;

                    @include Notdestop {
                        width: 75%;
                    }

                    .title-name {
                        flex: 30%;
                        font-size: 32px;

                    }

                    .desc {
                        flex: 70%;
                    }
                }
            }
        }

        .header-section {

            .schedule {

                .content-schedule {
                    i {
                        font-size: 24px;
                        margin-right: 8px;
                        line-height: 57px;
                    }

                    .select-date {
                        outline: none;

                        &:focus {
                            outline: none;
                        }

                        .select-day:focus-visible {
                            outline: none;
                        }
                    }
                }


                .content-schedule {

                    .table-time {
                        background-color: rgb(235, 234, 234);
                        border-radius: 5px;
                        padding: 8px;
                        display: flex;
                        flex-wrap: wrap;

                        .box-item {
                            display: flex;
                            flex-wrap: wrap;
                            padding: 0 7px;

                            .item {
                                width: 120px;
                                height: 40px;
                                background-color: #ccc;
                                border-radius: 5px;
                                line-height: 40px;
                                text-align: center;
                                margin: 7px;
                                padding: 0 8px;

                                &.enable-item {
                                    background-color: #fff04b;
                                    cursor: pointer;

                                    &:hover {
                                        background-color: #45c3d2;
                                    }
                                }
                            }
                        }

                        .title-small {
                            margin-left: 14px;
                            font-style: italic;
                            width: 100%;

                            i {
                                font-size: 14px;
                            }
                        }



                    }
                }

                .content-clinic {

                    .table-time {
                        padding: 8px;
                        display: flex;
                        flex-direction: column;

                        .price {

                            .show-detail {
                                color: rgba(35, 119, 175, 0.7);
                                cursor: pointer;

                                &:hover {
                                    color: rgba(35, 119, 175, 1);
                                }
                            }

                            .details {
                                div {
                                    border: 1px solid #ccc;
                                    margin-top: -1px;
                                    background-color: rgb(233, 230, 230);
                                    padding: 8px;
                                }
                            }
                        }




                    }
                }
            }

        }

        .content-details {

            background-color: rgb(250, 250, 252);

            .content-text {
                margin: 0 350px;

                @include Notdestop {
                    margin: 0 12%;
                }
            }
        }

    }
}